body{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    margin-top: 10%;
    font-size: 1.5em;
    padding-top: 2em;
}

.categorytitles{
    font-size: 3em;
}